
{% extends 'base.html' %}

{% block title %}Guia teórico{% endblock %}

{% block content %}
<section id="Guia_teórico" class="container">
    <div class="row guia_teorico align-top">
        <div>
            <h3 class="titulo_guia">O que é gestão financeira pessoal?</h3>
            <p class="texto_guia">Gestão financeira pessoal é o ato de organizar e administrar suas finanças 
            para maximizar o uso do dinheiro de forma consciente e eficiente. Isso inclui controlar ganhos e despesas, 
            planejar o futuro financeiro e estabelecer metas financeiras claras. É um processo que exige disciplina, planejamento 
            e conhecimentos básicos sobre como lidar com o dinheiro para garantir maior qualidade de vida e segurança.</p>
        </div>
    </div>

    <div class="row guia_teorico align-top">
        <div class="col-lg-6">
            <h4 class="titulo_guia">Controle dos ganhos e despesas</h4>
            <p class="texto_guia">O controle financeiro começa com o monitoramento detalhado de sua receita e dos seus gastos.
            Saber exatamente quanto você ganha e onde está gastando ajuda a identificar padrões que podem ser ajustados para 
            melhorar sua saúde financeira. Esse processo também envolve:</p>
            <ul>
                <li>Registrar todas as entradas</li>
                <li>Acompanhar todas as saídas</li>
                <li>Identificar despesas desnecessárias para reduzi-las.</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h4 class="titulo_guia">Planejamento para o futuro financeiro</h4>
            <p class="texto_guia">Planejar o futuro financeiro significa estabelecer metas de curto, médio e longo prazo, 
            como criar uma reserva de emergência, comprar uma casa ou preparar-se para a aposentadoria. Esse planejamento exige:</p>
            <ul>
                <li>Definir objetivos financeiros claros.</li>
                <li>Criar um orçamento mensal realista.</li>
                <li>Separar uma porcentagem da renda para poupança e investimentos.</li>
            </ul>
        </div>
    </div>

    <div class="div"></div>

    <div class="row guia_teorico align-top">
        <div class= "col-lg-6">
            <h3 class="titulo_guia">Príncipais benefícios</h3>
            <p class="texto_guia ps">Controlar suas finanças permite evitar o acúmulo de dívidas desnecessárias
                e criar um plano para quitá-las de forma mais rápida e eficiente. Isso reduz a pressão
                causada por juros altos e melhora seu bem-estar emocional.
            </p>
            <p class="texto_guia ps">Com um controle financeiro bem estabelecido, é possível tomar decisões mais conscientes, como avaliar se é o momento 
                certo para fazer uma grande compra ou investir em um novo projeto. Essas decisões são baseadas em dados concretos e planejamento.
            </p>
            <p class="texto_guia ps">
                Saber que você tem uma reserva de emergência e está preparado para imprevistos proporciona uma sensação de estabilidade e segurança. 
                Isso também permite lidar melhor com situações inesperadas, como desemprego ou emergências médicas.
            </p>
        </div>
        <div class="col-lg-6">
            <h3 class="titulo_guia">Princípios fundamentais</h3>
            <p class="texto_guia">Existem alguns princípios básicos que ajudam a garantir uma boa gestão financeira.
            Eles são simples, mas exigem dedicação e disciplina para serem implementados no dia a dia:
            </p>
            <ul>
                <li>Gaste menos do que ganha</li>
                <li>Poupe regularmente</li>
                <li>Invista com sabedoria</li>
            </ul>
        </div>
    </div>



    <div class="row guia_teorico align-top">
        
        <div class="col-lg-6">
           
        </div>
    </div>

    <div class="div"></div>
    <div class="row guia_teorico align-top">
        <div class="col-lg-6">
            <h3 class="titulo_guia">O que são juros?</h3>
            <p class="texto_guia">Juros são valores cobrados ou pagos por quem pega emprestado algum valor, como um empréstimo ou financiamento. 
                Quando você toma dinheiro emprestado, paga uma quantia adicional como forma de compensar quem emprestou esse dinheiro. 
                Esse valor extra é chamado de juros. Ou seja, juros são a "remuneração" do credor pelo ato de emprestar o dinheiro.
            </p>
        </div>
        <div class="col-lg-6">
            
        </div>
    </div>
</section>  
{% endblock %}
